/Praktikum/NPM07223soalPendahuluan1/build/
/Praktikum/NPM07223soalPendahuluan1/nbproject/private/
/Praktikum/Aldo07223/nbproject/private/
/Praktikum/Aldo07223/build/
/Praktikum/Modul2_07223/nbproject/private/
/Praktikum/Aldo_07223/nbproject/private/
/Tugas/02-Implementasi-coding/Laundry/build/
/Praktikum/Controller07223/nbproject/private/
/Praktikum/Modul2_07223/build/
/Praktikum/JavaApplication17/nbproject/private/
/Praktikum/Modul 1/Aldo07223/build/
/Praktikum/Modul 1/Aldo07223/nbproject/private/
/Praktikum/Modul 2/InformasiGudangLPG/build/
/Praktikum/Modul 2/InformasiGudangLPG/nbproject/private/
/Praktikum/Modul 2/Modul2_07223/build/
/Praktikum/Modul 2/Modul2_07223/nbproject/private/
/Praktikum/Modul 2/WarehousePuppets_Skateboard/build/
/Praktikum/Modul 3/NPM07223SoalPendahuluan3/nbproject/private/
