/Praktikum/NPM07223soalPendahuluan1/build/
/Praktikum/NPM07223soalPendahuluan1/nbproject/private/
/Praktikum/Aldo07223/nbproject/private/
/Praktikum/Aldo07223/build/
/Praktikum/Modul2_07223/nbproject/private/
/Praktikum/Aldo_07223/nbproject/private/
/Tugas/02-Implementasi-coding/Laundry/build/
